<div class="card mat-card" id="first-card">
    <div id="profile-background"><img src={{miPorfolio.backImage} alt="" class="backImage"></div>
    <div id="info">
        <div id="info-img">
            <img src={{miPorfolio.image}} alt="" class="profile-image">
            <div class="btn-edit"><a href="#" class="btn-right"><i class="bi bi-pen-fill"></i></a></div>
        </div>
        <div id="info-data">
            <div>
                <h1>{{miPorfolio.name}}</h1>
                <div id="info-company">{{miPorfolio.position}}</div>
                <div id="info-contact">
                    <span>{{miPorfolio.ubication}}</span>
                    <span><a href="#">Información de contacto</a></span>
                </div>
            </div>
            <ul id="info-details">
                <li><a href="#">
                    <img src="" alt="">
                    <h2>Argentina Programa</h2>
                </a></li>
                <li><a href="#">
                    <img src="" alt="">
                    <h2>Google</h2>
                </a></li>
            </ul>
        </div>
        <div id="info-actions">
            <button type="button" class="btn btn-primary">Tengo interés en...</button>
            <button type="button" class="btn btn-light">Añadir sección</button>
            <button type="button" class="btn btn-light">Más</button>
        </div>
    </div>
  </div>